@import url("https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap");

.loadingScreen {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(147deg, #bef5e4 0%, #16a04b 100%);
  background-image: url("../../../public/images/vintagePaperBg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 4s ease-out;
  font-family: "Almendra", serif;

  &.start {
    opacity: 0;
    pointer-events: none;
  }

  &.start main {
    opacity: 0;
  }

  section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: rgba(50, 25, 8, 0.5);

    & > span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px;
      font-size: 25px;
      color: rgba(0, 0, 0, 0.5);
    }

    & > div {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(177, 82, 18, 0.5);
      transition: width 0.4s;
    }
  }

  h1 {
    position: static;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-bottom: 8px;
  }

  main {
    padding: 64px;
    border-radius: 24px;
    text-align: center;
    border: dashed 6px rgba(177, 82, 18, 0.12);
    transition: opacity 0.4s;

    button {
      cursor: pointer;
      padding: 8px 32px;
      background-color: rgba(0, 0, 0, 0.24);
      color: white;
      border: none;
      font-weight: bold;
      font-size: 2.5rem;
      border-radius: 8px;
      transition: background-color 0.4s;
      font-family: "Almendra", serif;

      &:hover {
        background-color: rgba(0, 0, 0, 0.42);
      }

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }
}
