$font-family: "Quicksand", sans-serif;
$text-color: #444;
$background-color: #ffffff99;

section.text-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 20vw;

  > div {
    border-radius: 8px;
    font-size: 13px;
    padding: 20px 25px;
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;

    h1 {
      font-size: 15px;
      position: static;
    }

    p {
      margin: 15px 0;
      list-style-position: inside;
    }

    ul {
      list-style-type: none;
    }

    li {
      margin: 5px 0;
    }
  }
}
