*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  overflow: hidden;
  scrol: none; /* 'scrol' non è una proprietà valida, usa 'overflow' se desideri nascondere la scrollbar */
}

.box {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #1a1a1a, #2c3e50, #34495e);
}

canvas {
  display: block; /* Rimuove spazio extra intorno al canvas */
  width: 100%;
  height: 100%;
}
