*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  overflow: hidden;
  scrol: none; /* 'scrol' non è una proprietà valida, usa 'overflow' se desideri nascondere la scrollbar */
}

.box {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #1a1a1a, #2c3e50, #34495e);
}

canvas {
  display: block; /* Rimuove spazio extra intorno al canvas */
  width: 100%;
  height: 100%;
}

button {
  background: linear-gradient(45deg, #4e73df, #1abc9c);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, #1abc9c, #4e73df);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.show-dog-btn {
  position: absolute;
  top: 50px;
  left: 30px;
  min-width: 150px;
  z-index: 2;
}
