.overlay-slideShow {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  text-align: center;
  color: black;
  transition: opacity 1s;

  &.hidden {
    opacity: 0;
  }

  & > svg {
    &:first-of-type {
      width: 160px;
      margin: 32px auto 0;
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      width: 2.5rem;
      height: 2.5rem;
      pointer-events: auto;
      cursor: pointer;
      transition-property: opacity;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        opacity: 0.6;
      }
    }

    &:nth-of-type(2) {
      left: 16px;
    }

    &:nth-of-type(3) {
      right: 16px;
    }
  }

  section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  main {
    height: 33%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.9), transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 48px;
      line-height: 48px;
      position: static;
      font-weight: 800;
      padding: 0;
    }

    h1 + h2 {
      display: block;
      font-size: 13px;
      line-height: 1.5;
      font-style: italic;
      margin: 7px 0 30px;
    }

    footer {
      display: flex;
      align-items: center;

      aside {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > div {
          display: flex;
          align-items: center;

          svg {
            width: 16px;
            height: 16px;
          }

          p {
            margin-left: 7px;
            font-weight: 700;
            font-size: 22px;
          }
        }
        p {
          font-weight: 400;
          font-size: 12px;
        }
        &:first-of-type {
          margin-right: 20px;
        }
        &:last-of-type {
          margin-left: 20px;
        }
      }
    }
  }
}
